@media screen and (max-width: 600px) {
    .home-img {
        position: relative;
        top: -80px;
        width: 290px;
        height: 290px;
    }
    .home-text h1 {
        font-size: 40px;
    }
    .home-text h4 {
        font-size: 20px;
    }
    .home-text p {
        font-size: 20px;
    }
    .home-text button {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }
    .nav {
        display: none;
    }
    .head-container {
        padding: 30px;
    }
    .nav-mobile {
        display: none;
    }
}


/* For medium screens (tablets) */

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .nav-mobile {
        display: none;
    }
    .mobileNavLogo {
        display: none;
    }
}


/* For large screens (desktops) */

@media screen and (min-width: 1025px) {
    .nav-mobile {
        display: none;
    }
    .mobileNavLogo {
        display: none;
    }
}