@media screen and (max-width: 600px) {
    .home {
        height: 90vh;
    }
    .home-img {
        position: relative;
        top: -80px;
        width: 250px;
        height: 250px;
    }
    .home-text h1 {
        font-size: 40px;
    }
    .home-text h4 {
        font-size: 20px;
    }
    .home-text p {
        font-size: 20px;
    }
    .home-text button {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }
    .nav {
        display: none;
    }
    .head-container {
        padding: 30px;
    }
    .nav-mobile {
        display: none;
    }
    .about-container {
        height: 300px;
        overflow: hidden;
    }
    .about-container h2 {
        color: white;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 15px;
    }
    .about-container h3 {
        color: white;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 15px;
    }
    .about-container p,
    .about-container p span,
    .about-container ul li {
        color: white;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    #ReadMore {
        display: block;
    }
    .courses .card {
        height: 70%;
    }
    .home-img {
        margin-top: 10px;
    }
}


/* For medium screens (tablets) */

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .nav-mobile {
        display: none;
    }
    .mobileNavLogo {
        display: none;
    }
    .home-img {
        position: relative;
        width: 270px;
        height: 270px;
    }
    #ReadMore {
        display: none;
    }
}


/* For large screens (desktops) */

@media screen and (min-width: 1025px) {
    .nav-mobile {
        display: none;
    }
    .mobileNavLogo {
        display: none;
    }
    #ReadMore {
        display: none;
    }
}
