@media screen and (max-width: 622px) {
    .nav {
        display: none;
    }
    .nav-mobile {
        display: none;
    }
    .logo h1 {
        font-size: 16px;
    }
    .home-container {
        height: 70vh;
    }
    .home-container h1 {
        font-size: 25px;
    }
}

@media screen and (min-width: 623px) and (max-width: 1024px) {
    .mobileNavLogo {
        display: none;
    }
    .nav-mobile {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .mobileNavLogo {
        display: none;
    }
    .nav-mobile {
        display: none;
    }
}