@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth;
}

a {
    align-items: center;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    height: 100%;
    width: 100%;
}

.head-container {
    height: 10vh;
    width: 100%;
    background-color: #33cacf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.head-container .logo a {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.head-container .nav a {
    color: white;
    font-weight: 700;
    font-size: 1.0rem;
    margin: 0px 10px;
}

.head-container .nav a:hover {
    color: #effeff;
    border-bottom: 2px solid #001aff;
}

.head-container .nav ul {
    display: flex;
    align-items: center;
}

.head-container .nav ul li {
    margin: 0px 10px;
}

.head-container .nav ul li a {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px 5px;
}

.nav-mobile {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 90vh;
    width: 100%;
    background-color: rgba(21, 181, 187, 0.617);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 100;
}

.nav-mobile-container ul {
    margin-top: 15px;
}

.nav-mobile-container ul li {
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 170px;
    border: rgba(0, 45, 159, 0.761) 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
}

.nav-mobile-container li a {
    color: white;
    font-weight: 700;
}

.nav-mobile-container li:hover {
    background-color: #0032d5;
}

.mobileNavLogo {
    color: white;
    font-size: 30px;
}

.mobileNavLogo:hover {
    color: #0032d5;
    cursor: pointer;
}

.exitnav {
    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.exitnav:hover {
    color: #0032d5;
}